## Exercício de Regressão Linear : Curso ML Didática Tech

In [17]:
#importando as bibliotecas
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [18]:
#baixando o arquivo carregado no GitHub
!wget https://github.com/sagazluiz/notebooks/blob/master/kc_house_data.csv?raw=true -O house.csv

--2020-07-03 03:17:46--  https://github.com/sagazluiz/notebooks/blob/master/kc_house_data.csv?raw=true
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/sagazluiz/notebooks/raw/master/kc_house_data.csv [following]
--2020-07-03 03:17:46--  https://github.com/sagazluiz/notebooks/raw/master/kc_house_data.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sagazluiz/notebooks/master/kc_house_data.csv [following]
--2020-07-03 03:17:47--  https://raw.githubusercontent.com/sagazluiz/notebooks/master/kc_house_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2515206 (2.4M) [text/plain]
Saving to: ‘house.csv’

house.csv           100%[===================>]   2.40M  10.7MB/s    in 0.2s

2020-07-03 03:17:47 (10.7 MB/s) - ‘house.csv’ saved [2515206/2515206]

In [19]:
#carrega o arquivo no data frame
pd.set_option('display.max_columns',21)
arquivo = pd.read_csv(r'house.csv')

In [20]:
arquivo.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [21]:
#Excluindo features irrelevantes
if set(['id','date','zipcode', 'lat','long']).issubset(arquivo.columns):
  arquivo.drop('id', axis=1, inplace=True)
  arquivo.drop('date', axis=1, inplace=True)
  arquivo.drop('zipcode', axis=1, inplace=True)
  arquivo.drop('lat', axis=1, inplace=True)
  arquivo.drop('long', axis=1, inplace=True)

In [22]:
arquivo.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [24]:
# Definindo variáveis preditoras e variável target
y=arquivo['price']
x=arquivo.drop('price', axis=1)

In [42]:
#Separando entre treino e teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size = 0.3, random_state=10)

In [43]:
#Criando o modelo
modelo = LinearRegression()
modelo.fit(x_treino, y_treino)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
#Calculando o coeficiente de treino e teste
resultado = modelo.score(x_teste, y_teste)
print(resultado)

0.6608668622831299

In [46]:
#
print(modelo.intercept_)
print(modelo.coef_)

5962933.362985167
[-3.74904870e+04  4.26245474e+04  1.01816470e+02 -8.36903887e-02
  2.28754596e+04  5.55262013e+05  4.27078718e+04  2.00183311e+04
  1.24843127e+05  4.93868180e+01  5.24296524e+01 -3.46486295e+03
  6.12640926e+00  3.00673514e+01 -4.35823714e-01]